<div>
    <a href="/posts/{{post.id}}">
        <h3 style="margin-bottom: 0">{{post.title}}</h3>
    </a>
    <span style="font-size: 12px;">date: {{post.creation_time}}</span>
    <p>{{post.short_content}}</p>
    <p style="font-size: 12px">likes: {{post.amount_of_likes}}</p>
    <hr style="border-top: 0.5px solid grey;"/>
</div>